# Configuration file for showing predicted GIs by different methods for a microbial genome
karyotype = data/$organism.chr

chromosomes_units           = 100000
chromosomes_display_default = yes

<plots>
# start prog 0
<plot>
type = histogram
file = data/$prog0.gilist
min = 0
max = 1
r0 = 0.9r
r1 = 0.95r
color = black
thickness = 2p
fill_under = yes
fill_color = $color0
</plot>
# end prog 0


# start prog 1
<plot>
type = histogram
file   = data/$prog1.gilist
min = 0
max = 1
r0 = 0.8r
r1 = 0.85r
color = black
thickness = 2p
fill_under = yes
fill_color = $color1
</plot>
# end prog 1

# start prog 2
<plot>
type = histogram
file   = data/$prog2.gilist
min = 0
max = 1
r0 = 0.7r
r1 = 0.75r
color = black
thickness = 2p
fill_under = yes
fill_color = $color2
</plot>
# end prog 2


# start prog 3
<plot>
type = histogram
file   = data/$prog3.gilist
min = 0
max = 1
r0 = 0.6r
r1 = 0.65r
color = black
thickness = 2p
fill_under = yes
fill_color = $color3
</plot>
# end prog 3


# start prog 4
<plot>
type = histogram
file   = data/$prog4.gilist
min = 0
max = 1
r0 = 0.5r
r1 = 0.55r
color = black
thickness = 2p
fill_under = yes
fill_color = $color4
</plot>
# end prog 4


# start prog 5
<plot>
type = histogram
file   = data/$prog5.gilist
min = 0
max = 1
r0 = 0.4r
r1 = 0.45r
color = black
thickness = 2p
fill_under = yes
fill_color = $color5
</plot>
</plots>
# end prog 5

# start prog 6
<plot>
type = histogram
file   = data/$prog6.gilist
min = 0
max = 1
r0 = 0.3r
r1 = 0.35r
color = black
thickness = 2p
fill_under = yes
fill_color = $color6
</plot>
</plots>
# end prog 6

# start prog 7
<plot>
type = histogram
file   = data/$prog7.gilist
min = 0
max = 1
r0 = 0.2r
r1 = 0.25r
color = black
thickness = 2p
fill_under = yes
fill_color = $color7
</plot>
</plots>
# end prog 7

# start prog 8
<plot>
type = histogram
file   = data/$prog8.gilist
min = 0
max = 1
r0 = 0.1r
r1 = 0.15r
color = black
thickness = 2p
fill_under = yes
fill_color = $color8
</plot>
</plots>
# end prog 8

<highlights>
z = 0
fill_color = vlgrey

<highlight>
show = yes
file = data/$organism.refgi.highlight
r0   = $radius # Dependant on the number of tracks
r1   = 1r
</highlight>
</highlights>

<<include txideogram.conf>>
<<include txticks.conf>>

<image>
<<include etc/image.conf>>
file* = ../img/$outfile.png
</image>

<<include etc/colors_fonts_patterns.conf>>

<<include etc/housekeeping.conf>>
