# Configuration file for showing predicted GIs by different methods for a microbial genome
karyotype = data/$organism.chr

chromosomes_units           = 100000
chromosomes_display_default = yes

<plots>
<plot>
type = histogram
file = data/$organism.refgi
min = 0
max = 1
r0 = 0.9r
r1 = 0.95r
color = black
thickness = 2p
fill_under = yes
fill_color = 153,153,153
</plot>

# prog1
<plot>
type = histogram
file   = data/$prog_1.gilist
min = 0
max = 1
r0 = 0.8r
r1 = 0.85r
color = black
thickness = 2p
fill_under = yes
fill_color = 247,129,191
</plot>

# prog2
<plot>
type = histogram
file   = data/$prog_2.gilist
min = 0
max = 1
r0 = 0.7r
r1 = 0.75r
color = black
thickness = 2p
fill_under = yes
fill_color = 166,86,40
</plot>

# prog3
<plot>
type = histogram
file   = data/$prog_3.gilist
min = 0
max = 1
r0 = 0.6r
r1 = 0.65r
color = black
thickness = 2p
fill_under = yes
fill_color = 255,255,51
</plot>

# prog4
<plot>
type = histogram
file   = data/$prog_4.gilist
min = 0
max = 1
r0 = 0.5r
r1 = 0.55r
color = black
thickness = 2p
fill_under = yes
fill_color = 255,127,0
</plot>

# prog5
<plot>
type = histogram
file   = data/$prog_5.gilist
min = 0
max = 1
r0 = 0.4r
r1 = 0.45r
color = black
thickness = 2p
fill_under = yes
fill_color = 152,78,163
</plot>
</plots>

# prog6
<plot>
type = histogram
file   = data/$prog_6.gilist
min = 0
max = 1
r0 = 0.3r
r1 = 0.35r
color = black
thickness = 2p
fill_under = yes
fill_color = 77,175,74
</plot>
</plots>

# prog7
<plot>
type = histogram
file   = data/$prog_7.gilist
min = 0
max = 1
r0 = 0.2r
r1 = 0.25r
color = black
thickness = 2p
fill_under = yes
fill_color = 55,126,184
</plot>
</plots>

# prog8
<plot>
type = histogram
file   = data/$prog_8.gilist
min = 0
max = 1
r0 = 0.1r
r1 = 0.15r
color = black
thickness = 2p
fill_under = yes
fill_color = 228,26,28
</plot>
</plots>


<highlights>
z = 0
fill_color = vlgrey

<highlight>
show = yes
file = data/$organism.refgi.highlight
r0   = $radius # Dependant on the number of tracks
r1   = 1r
</highlight>
</highlights>

<<include txideogram.conf>>
<<include txticks.conf>>

<image>
<<include etc/image.conf>>
file* = ../img/$outfile.png
</image>

<<include etc/colors_fonts_patterns.conf>>

<<include etc/housekeeping.conf>>
